body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Arial";
}
main {
  background-color: #F9F9F9;
  display: flex;
  align-items: flex-start;

}
a {
  text-decoration: none;
  font-size: 0.8em;
  color: #2F97FC;
}
a:hover {
  color: #2465A4;
}
.App-logo {
  width: 50px;
  padding-top: 20px;
}
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBar ul {

  list-style-type: none;
  width: 100%;
  padding: 20px 0;

}
.sideBar ul li {
  color: #fff;
  font-size: 0.8em;
  text-align: left;
  padding: 5px 20px;
}
.sideBar ul li.selected{
  background-color: #484848;
  border-right: 2px solid #2F97FC;
}

.profile-info {
  width: 50%;
  background-color: #fff;
  margin: 10px;
  padding: 20px 20px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.profile-info p{
  margin: 0 0 5px;
  font-size: 0.9em;

}

#main-info {
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 5px;
  position: relative;

}
#edit-profile {
  position:absolute;
  right:0;
  top: 0;
  font-size: 0.7em;
}
.profile-options {
  border-bottom: 1px solid #D8D8D8;
  padding: 10px 0;
  position: relative;
}
.last {
  border-bottom: 0;
}
#language-options {
  font-size: 0.8em;
  color: #2F97FC;
  padding-right: 10px;
}
#logout-options {
  position: absolute;
  right: 0;
}
h1 {
  font-size: 1em;
  font-weight: 400;
  padding-left: 20px;

}
h2 {
  font-size: 12px;
}
label {
  font-size: 0.7em;
  color: gray;
}
.profile-pic {
  border-radius: 100%;
  width: 80px;
  display: block;
  margin:  0 auto;
}
